---
import LucodePageTitle from 'lucode-starlight/components/overrides/PageTitle.astro';
import LastUpdated from 'virtual:starlight/components/LastUpdated';
---

<LucodePageTitle />
<div data-slot="doc-title-last-updated">
    <LastUpdated />
</div>

<style>
    [data-slot='doc-title-last-updated'] {
        font-size: 0.875em;
        color: var(--muted-foreground);
        opacity: 0.75;
        text-align: right;
    }

    [data-slot='doc-title-last-updated'] :global(p) {
        margin: 0;
    }
</style>
